<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>TinyApp</title>
  </head>
  <body style="display:flex; height:100vh; justify-content:center; align-items: center; background-color: rgb(184, 217, 217);">
      <div class="container">
        <div class="title" style="font-size: xxx-large; font-family:serif">Tiny URL Registration</div>
        <form method="POST" action="/register">
          <div class="userinfo">
            <div class="boxinfo" >
            <p1 style="font-size:larger;">Email:</p1> 
            <input name="email" type="email" placeholder="Enter your email" style="height:30px ; width:200px"/>
            </div>
           <div class="boxinfo">
            <p1 style="font-size:larger;">Password:</p1>
            <input name="password" type="password" placeholder="Enter your password" style="height:30px ; width:200px"/>
           </div> 
          </div>
          <div class="button">
            <button type="submit" class="btn btn-success" style="height:30px ; width: 150px; background-color: rgb(123, 211, 228);">Submit</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>